@import url('https://fonts.googleapis.com/css?family=Poppins');

#background-image{
 background-image: url(https://images.unsplash.com/photo-1493308903033-e622ac815e5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1410&q=80);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height:80vh;
 width:100vw;
}
body {
  font-family:'Poppins';
}
nav{
  width:550px;
  margin-right:30px;
  
}
nav a{
  text-decoration: none;
  color:black;
}
nav ul{
  font-size:25px;
  display:flex;
  justify-content:space-between;
  list-style: none;
  align-items: center;
  width: 500px;
}
.logo{
 width: 250px;
 margin-left: 2rem;
}
.container{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
h1{
  text-align: center;
  color:white;
  font-size:70px;

}
#background-image p{
  text-align: center;
  color:white;
  font-size:20px;
}
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  
}
#about{
  display:flex;
  flex-direction:column;
  align-items:center;
  
}
.about-box{
  display:flex;
  justify-content:space-between;
  width:1000px;
  
  
}
.about-box img{
  width:90px;
}
.about-box div{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}
h3{
  color:green;
}
#about hr{
  color:green;
  width:230px;
  margin-top:0px;
 
}
#about h2{
  margin-bottom:0px;
}
#image{
 background-image: url(https://images.wallpapersden.com/image/download/spotify-logo_am1qZWiUmZqaraWkpJRnbm5trWdnaW0.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height:80vh;
 width:100vw;
 display:flex;
 justify-content:space-around;
 align-items:center;
 color:white;
  
}
#image h3{
  color:white;
}
#image div{
  height:600px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
#image hr{
  width:340px;
  color:white;
}
#image h2{
  margin-bottom:0;
}